/node_modules/
vendor/*
vendor-bin
/vendor/composer/installers
!/vendor/composer/
!/vendor/autoload.php

/docs/
/config.json
/copyright.txt

.DS_Store
php_errors.log
php_error.log
/yarn-error.log
/.npmrc
/bundle-stats.html
/.phpdoc
/actions-and-filters.html

docs
dist